.mymidden_box{
    display:flex;
    /* background-color:red; */
}
.mymidden_box a{
    display:inline-block;
    color:#000;
    text-align: center;
    width: 100%;
}
.mymidden_box .ant-menu-item-selected a:hover{
    color:#ff751f;
}
.ant-menu-inline .ant-menu-item::after{
    border-color:#ff751f;
}
.myright_route{
    flex:1;
    /* background-color: green; */
}