.otder_seach_box{
    display:flex;
    margin:15px 0 20px;
}
.otder_seach_box input{
    width:200px;
    height:30px;
    border:1px solid #ccc;
}
.otder_seach_box .seachbtn{
    background-color: #ccc;
    padding:5px 10px;
}
.order_title{
    padding: 0 10px;
    margin-bottom:10px;
}
.order_title span{
    display: inline-block;
    font-size: 13px;
}
.order_title span:nth-child(2){
    margin:0 48px 0 320px;
}
.order_title span:nth-child(4){
    margin:0 86px 0 197px;
}
.order_title span:nth-child(5){
    margin-right: 100px;
}
.order_list .order_big_item{
    border:1px solid #ccc;
}
.order-info{
    display:flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    font-size: 13px;
    padding: 10px;
    border-bottom:1px solid #ccc;
}
.order_info_left span{
    display: inline-block;
    margin-right:30px;
}
.order_goods_box{
    display: flex;
    font-size: 12px;
    padding:0 10px;
}
.order_goods_box .goods_list{
    /* display: flex; */
    flex:.8;
    border-right:1px solid #ccc;
    padding:10px 0;
}
.order_goods_box .goods_list .goods_item{
    display: flex;
}
.order_goods_box .goods_list .order_shop_img{
    width:100px;
    height:100px;
    background-color: pink;
}
.order_goods_box .goods_list span{
    display:inline-block;
    margin-right:45px;
}
.order_goods_box .goods_list .goods_item span:last-child{
    margin-right:0;
}
.order_goods_box .goods_list .goods_title{
    margin-left:15px;

}

.order_plice span{
    display:block;
    margin-bottom:5px;
    text-align: center;
}
.order_plice{
    border-right:1px solid #ccc;
    padding:10px 40px;
}
.order_plice:last-child{
    border-right:0;
}